table {
    border-spacing: 0;
}

table tr {
  height: 50px;
}

table tr td {
  width: 50px;
  text-align: center;
}

table tr #result {
  background-color: white;
  border: 0px;
  width: 90%;
  font-size: xx-large;
  text-align: right;
}
